body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: medium;
}

.container-custom {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.container-custom h2 {
    text-align: center;
    margin-bottom: 20px;
}

.container-custom input[type="text"],
.container-custom input[type="password"] {
    width: calc(100%);
    padding: 10px;
    /*margin-left: 8px;*/
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: medium;
}

.container-custom input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: medium;
    line-height: normal;
}

.container-custom input[type="submit"]:hover {
    background-color: #0056b3;
}

.container-custom .error-message {
    color: #ff0000;
    margin-bottom: 10px;
}

.alert{
    padding: 10px !important;
}

.container-custom a{
    color: #3164f2; /* Màu của liên kết */
    text-decoration: none; /* Loại bỏ gạch chân */
    margin-top: 10px; /* Khoảng cách giữa các liên kết */
    display: inline-block; /* Hiển thị liên kết trên cùng một dòng */
    transition: color 0.3s ease; /* Hiệu ứng khi hover qua */
    margin-right: 12px;

}

.container-custom a:hover{
    color: #042547; /* Màu khi rê chuột qua */
}
